/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
/.idea
/public/images
/public/avatar
/public/videos
/public/frames
/public/product
/public/editor/php/upload/
/public/article
/public/image
/public/video
/public/product
/public/gallery
/public/trashbin
/public/sargeras
