/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

.avatar img{
    position:absolute;
    top:10px;
    right:10px;
    width:40px;
}
.main{
    padding-top: 50px;
}

/*plug*/
.plug-show-div{
    border:1px solid darkgrey;
    width:100%;
    /*border-radius: 1em;*/
}
.plug-upload-div{
    position: relative;
    float:left;
    width:80px;
    height:80px;
    z-index: 998;
    cursor:pointer;
}
.plug-mark{
    position:relative;
}
#plug-upload-input{
    position: absolute;
    top:0px;
    left:0px;
    width:80px;
    height:80px;
    opacity: 0;
}
.plug-plus-x{
    position:absolute;
    width:20px;
    height:2px;
    top:39px;
    left:30px;
    border:1px solid darkgrey;
}
.plug-plus-y{
    position:absolute;
    width:2px;
    height:20px;
    top:30px;
    left:39px;
    border:1px solid darkgrey;
}
.plug-preview-div{
    width:300px;
    height:300px;
    position:absolute;
    background-size:100% 100%;
    z-index:999;
}
.plug-cancel-style{
    position:absolute;
    top:0px;
    right:0px;
    width:10px;
    height:10px;
    line-height:10px;
    color:white;
    cursor:pointer;
}
/*td{*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
/*}*/